---
permalink: /projects/
title: My Projects
---
<div class="flexbox flexbox--row flexbox--wrap flexbox--rg--3 flexbox--cg--3">
  {% for item in site.projects %}
  <div class="card w-30">
      {% if item.thumbnail %}
        <div class="ratio-1-1" style="background: url({{ item.thumbnail | absolute_url }}) center; background-size: cover"></div>
      {% endif %}
      <div class="card__content text-center p-3">
        <a href="{{ item.url }}">{{ item.title }}</a>
      </div>
  </div>
  {% endfor %}
</div>
