<header class="flexbox flexbox--row flexbox--a--center">
    <!--Navbar Brand-->
    <a href="/">Jared Tulayan</a>
    
    <!--Breadcrumbs-->
    <p class="my-auto ml-3">
      {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
      {% for crumb in crumbs offset: 1 %}
        <span>>
        {% if forloop.last %}
          {{ crumb | downcase }}
        {% else %}
          <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}" class="text-secondary">{{ crumb | downcase }}</a>
        {% endif %}
        </span>
      {% endfor %}
    </p>
    
    <!--Navbar Menu-->
    <nav class="flexbox flexbox--row flexbox--cg--3 ml-auto">
      {% for item in site.data.navbar %}
        <a class="button" href="{{ item.link }}" {% if item.newtab %}target="_blank"{% endif %}>{{ item.name }}</a>
      {% endfor %}  
    </nav>
</header>
