---
# Default layout
# This is a layout that any page w/o a defined layout will default to,
# hence the name.

layout: base
---
<body class="body body--filled flexbox flexbox--col p-l-5 p-r-5 p-t-5 p-b-5 m-l-auto m-r-auto">
  {% include header.html %}
  <div id="title" class="container mt-10 mb-3">
    <h1>{{ page.title }}</h1>
    {% if page.collection != "projects" and page.date %}
      <p class="text-muted"><i class="fas fa-calendar-day"></i> {{ page.date | date: '%Y-%m-%d' }}</p>
    {% endif %}
    {% if page.tags.size > 0 %}
      <p class="text-muted mt-auto">
        {% assign tags = page.tags | sort %}
        {% for tag in tags %}
          #{{tag}}
        {% endfor %}
      </p> 
    {% endif %}
    {% if page.description %}
    <p class="lead">{{ page.description }}</p>
    {% endif %}
    <hr class="separator-strong">
  </div>
  <main id="content" class="main">
      {{ content }}
  </main>
  {% include footer.html %}
</body>
