---
# Home layout
# This is the landing page format.

layout: base
---
<body class="content flexbox flexbox--col p-4 mx-auto">
  <div class="card flexbox flexbox--col m-auto">
    <div class="ratio-1-1" style="background: url('/assets/images/portrait.jpg') center; background-size: cover;"></div>
    <!--image src="/assets/images/portrait.jpg"/-->
    <div class="card__content flexbox flexbox--col p-3">
      <h1 class="text-center">Jared Tulayan</h1>
      <p class="text-center">Programmer, Maker, Musician</p>
      <nav class="flexbox flexbox--row flexbox--cg--3 mt-3 mx-auto ">
        {% for item in site.data.navbar %}
          <a class="button button--flat" href="{{ item.link }}" {% if item.newtab %}target="_blank"{% endif %}>{{ item.name }}</a>
        {% endfor %}  
      </nav>
      <div class="flexbox flexbox--row mt-3">
        {% assign accounts = site.data.contacts | concat: site.data.socials %}
        {% for acc in accounts %}
          <a href="{{ acc.url }}" target="_blank" class="mx-auto text-size-2"><i class="{{ acc.fa-class }}"></i></a>
        {% endfor %}
      </div>
    </div>
  </div>
</body>
