// PrismJS code style
// Toolbar
@use "sass:map";

@use "colors" as *;
@use "fonts" as *;
@use "control" as *;
@use "spacing" as *;

$color-default: $color-fg;
$color-variable: $color-fg;
$color-primitive: map.get($colors, "orange");
$color-class: map.get($colors, "purple");
$color-keyword: $color-primary;
$color-comment: $color-ok;
$color-important: $color-important;

div[class*="highlighter-"] {
    .code-toolbar {
        @include control;
    	position: relative;
    	margin: map.get($spacing, "4") 0;
    	background: $color-bg;
    
    	.toolbar {
    		position: absolute;
    		bottom: map.get($spacing, "2");
    		right: map.get($spacing, "2");
    
    		button {
                @include control;
                font: inherit; 
    			visibility: hidden;
    			padding: map.get($spacing, "2") map.get($spacing, "3");
    
    			&:hover {
    				background: $color-fg;
    				color: $color-bg;
    			}
    		}
    	}
    
    	&:hover {
    		.toolbar {
    			button {
    				visibility: visible;
    			}
    		}
    	}
    }
    
    // Code Formatting
    //code[class*="language-"],
    pre[class*="language-"] {
    	color: $color-default;
    	background: none;
    	font-family: $font-monospace;
    	text-align: left;
    	white-space: pre;
    	word-spacing: normal;
    	word-break: normal;
    	word-wrap: normal;
    	line-height: 1;
    	-moz-tab-size: 4;
    	-o-tab-size: 4;
    	tab-size: 4;
    	-webkit-hyphens: none;
    	-moz-hyphens: none;
    	-ms-hyphens: none;
    	hyphens: none;
    }
    
    pre[class*="language-"] {
    	padding: map.get($spacing, "3");
    	margin: map.get($spacing, "2") 0;
    	overflow: auto;
    }
    
    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
    	color: $color-comment;
    }
    
    .token.punctuation {
    	color: $color-default;
    }
    
    .namespace {
    	opacity: .7;
    }
    
    .token.property,
    .token.tag,
    .token.constant,
    .token.symbol,
    .token.deleted {
    	color: $color-default;
    }
    
    .token.number {
    	color: $color-primitive;
    }
    
    .token.boolean {
    	color: $color-primitive;
    }
    
    .token.selector,
    .token.attr-name,
    .token.string,
    .token.char,
    .token.builtin,
    .token.inserted {
    	color: $color-keyword;
    }
    
    .token.operator,
    .token.entity,
    .token.url,
    .language-css .token.string,
    .style .token.string,
    .token.variable {
    	color: $color-variable;
    }
    
    .token.atrule,
    .token.attr-value,
    .token.function,
    .token.class-name {
    	color: $color-class;
    }
    
    .token.keyword {
    	color: $color-keyword;
    }
    
    .token.regex,
    .token.important {
    	color: $color-important;
    }
    
    .token.important,
    .token.bold {
    	font-weight: bold;
    }
    
    .token.italic {
    	font-style: italic;
    }
    
    .token.entity {
    	cursor: help;
    }
}
