// Markdown Figure block
@use 'utils' as *;
@use 'control' as *;
@use 'colors' as *;

.md-figure {
    @include control;
    @include clearfix;

    display: inline-flex;
    flex-direction: column;

    &__caption {
        color: $color-bg;
        background: $color-fg;
    }
}
