// Markdown Figure block
@use "sass:map";

@use '../common/control' as *;
@use '../base/utils' as *;
@use '../base/colors' as *;

.md-figure {
    @include control;
    @include clearfix;
    @include p-spacing;

    display: inline-flex;
    flex-direction: column;

    &__caption {
        padding: 0.25rem 0;
        text-align: center;
        color: map.get($colors, "background");
        background: map.get($colors, "foreground");
    }
}
