// Main formatting
// This is done through hierarchy, not through BEM
// as I can't attach BEM classes to kramdown HTML.
@use "sass:map";

@use "colors" as *;
@use "fonts" as *;
@use "control" as *;
@use "spacing" as *;

.md {
    > * {
        &:not(:last-child) {
            margin-bottom: map.get($spacing, "3");
        }
    }

    ol {
        margin-left: map.get($spacing, "4");
        list-style-type: decimal;
    }

    ul {
        margin-left: map.get($spacing, "4");
        list-style-type: square;
    }

    em {
        font-style: italic;
    }

    strong {
        font-weight: bold;
    }

    code[class*="highlighter-"] {
        background: $color-bg;
        font-family: $font-monospace;
        border-radius: map.get($spacing, "1");
        padding: 0 2px;
    }
}
