// Body block
@use "sass:map";
@use "sass:color";

@use "colors" as *;

.body {
    min-height: 100vh;
    max-width: 50rem;

    &--filled {
        background: color.change($color-bg, $alpha: $color-bg-intensity);
    }
}
