// Body block
@use "sass:map";
@use "sass:color";

@use "colors" as *;

.body {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    max-width: 50rem;
    padding: 1rem;
    margin: 0 auto;

    &--filled {
        background: color.change(map.get($colors, "background"), $alpha: $color-bg-intensity);
    }
}
