@use 'sass:map';

@use 'control' as *;
@use 'colors' as *;

// Button Default
.button {
    @include control;

    padding: 0.2rem;
    background: map.get($colors, "background");
    text-decoration: none;

    &:hover, :active {
        background: map.get($colors, "foreground");
    }
}
