// Padding utils
@use "sass:map";
@use "spacing" as *;

@each $i, $s in $spacing {
    .p-l-#{$i} {
        padding-left: $s;
    }

    .p-r-#{$i} {
        padding-right: $s;
    }

    .p-t-#{$i} {
        padding-top: $s;
    }

    .p-b-#{$i} {
        padding-bottom: $s;
    }

    .px-#{$i} {
        padding-left: $s;
        padding-right: $s;
    }

    .py-#{$i} {
        padding-top: $s;
        padding-bottom: $s;
    }

    .p-#{$i} {
        padding: $s;
    }
}
